@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	body > header {
		background-color: #f56691 !important;
		.d-contents{
			display: contents;
			p{
				float: left;
				color: white;
				font-size: 10px;
				margin-right: 10px;
			}
		}
		.user-icon{
			width: 28px;
			margin-right: 10px !important;
			float: left;
		}
		.cart-icon{
			border-left: white;
			border-left-style: solid;
			margin-left: 10px;
			width: 28px;
			margin-right: 10px !important;
			float: left;
		}
		.header_danzon{
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: space-between;
			align-items: center;
		}
		
	}
}

@media 
#{$phone}, #{$tablet} {
	body > header {
		.header_danzon{
			display: none;
		}

	}
}