@media #{$desktop-large}, 
#{$desktop},
#{$tablet},
#{$phone} {
	body > main {
		.slider{
			.slider_item{
				a{
					color: #333333;
					article{
						header{
							height: 150px;
							background: gray;
						}
						footer{
							text-align: center;

						}
					}
				}
			}

		}
	}
}
