@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	body {
		overflow-x: hidden;
		.categories{
		padding: 8px !important;
			a{
				img{
					transform: scale(1);
					transition: 0.3s ease-in-out;
				}
				img:hover{
					transform: scale(1.1);
				}
			}
			position: relative;
			p{
				position: absolute;
				bottom: 10px;
				left: 0px;
				right: 0px;
				color: white;
				text-transform: uppercase;
				font-weight: 900;
			}
		}
		.container{
			h3{
				margin: 25px 0;
			}
		}
		.my-img-fluid{
			width: 100%;
			height: auto;
		}
	}

}